* {
   
  
  font-family:"Fuzzy Bubbles";
  box-sizing: border-box;
   
}
    
   
body {
  display: flex;
  flex-direction: column;

  background-color: #F2F2F2;
  color:#125773;
  font-size: 16px;
 
 
}
.main {
  margin-left: 150px;
  margin-right: 150px;
}
h1 {
  color:#F2F2F2;
  font-size:50px;
  font-weight: bold;
 
  padding-top: 20px;
  margin-right: auto;
  padding-left: 40px;

}

h2 {
    color:0D0D0D;
    font-size: 40px;
    font-weight: bold;
}


p {
  margin-bottom: 30px;
 
}


.header-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: #125773;
 
  
}



.menu {
  display: flex;
  list-style: none;
  justify-content:right;
  padding-right: 40px;
  gap: 30px;


}

.menu li {
  width:max-content;
  height: 30px;
  text-align: center;
  border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 5px;
    border: 3px;
    margin-right: 2px;
  
}
a {
  color: hotpink;
  

}

/*.menu {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
  
  font-size: 1rem;
 height: 30px;
 text-align: right;
 border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 5px;
    border: 3px;
    margin-right: 2px;
    background-color: #125773;
    align-items: flex-end;

}*/

       
section#picture {
  float: right;
  position: static;
  padding:10px;
  margin: 10px;
    
  }
  
    
  


section#about {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
     

   }
section#experience {
  
    margin: 10px;
    padding: 10px;
    list-style: none;
  
  }
  .wrapper {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
    row-gap: 1em;
   
  }
section#skills {
    display: block;
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
   

}
section#connect {
  margin:10px;
  padding: 10px;
}
section#leaveMessage {
  margin: 10px;
  padding: 10px;

}

.leaveMessage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.wraper {
  display: grid;

  }
  



input[type=text], select {
    font-family: 'Times New Roman', Times, serif;
    color: #125773;
    font-size: 25px;
    padding: 5px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    box-shadow: 1px 1px 1px whitesmoke;
  }
  input[type=email], select {
    font-family: 'Times New Roman', Times, serif;
    color: #125773;
    font-size: 25px;
    padding: 5px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    box-shadow: 1px 1px 1px whitesmoke;
  }

  textarea[name=message], select {
    font-family: 'Times New Roman', Times, serif;
    color: #125773;
    font-size:25px;
    padding: 5px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    box-shadow: 1px 1px 1px whitesmoke;

  }
  button {
    background-color:#125773;
    color: #BFC7D9;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 5px;
    border: 3px;
    margin-right: 2px;
    box-shadow: 1px 1px 1px whitesmoke;

  }
  
  section#messages {
   margin: 10px;
   padding: 10px;
  }


  footer {
    text-align: center;
    background-color: #D8E6F2;
    color:#125773;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
   
   

  }
  



  
        

          
        /* Media Query for Tablets Ipads portrait mode */
        @media (min-width: 480px) and (max-width: 1024px){
            body {
              background-color:#125773;
              color:#F2F2F2 ;
              font-size: 15px;
                
            }
            section#picture {
            visibility: hidden;
            }
            h1 {
              font-size: 35px;
            }
            h2 {
              font-size: 30px;
            }
           
            }
            .labels {
              color:hotpink;
             
            }
            
          
            footer {
              text-align: center;
              width: 100%;
              padding-top: 10px;
              padding-bottom: 10px;
             
            }
          
            button {
              background-color:hotpink;
              color: #125773;
             
            }

            .wrapper {
              text-align: center;
              margin: 5px;
            }
            
          

           
          
        
        